<!doctype html>
<html ng-app="app5" ng-cloak>
	<head>
		<title>AngularJS Tutorial 5</title>
		<style>
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none;
		}

		table {
			width: 400px;
			text-align: left;
			border: 2px solid black;
			padding: 10px;
		}

		input.ng-dirty.ng-invalid {
			border.color: red;
		}
		</style>

	</head>
</html>

	<body>

		<div ng-controller="heroCtrl">

			<label>Hero to Search for: </label>
			<input type="text" ng-model="heroName" />
			<br><br>
			<button ng-click="getHeroData()">Submit</button>
			<br><br>

			{{heroData}}<br>

		</div>

		<div ng-controller="heroCtrl">

			<label>Hero Name: </label>
			<input type="text" ng-model="heroName" /><br><br>
			<label>Real Name: </label>
			<input type="text" ng-model="realName" /><br><br>
			<button ng-click="addHeroData(realName, heroName)">Add</button>

		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="js/exam5.js"></script>
	</body>
</html>
