<!doctype html>
<html ng-app="app1" ng-init="person = {fName: 'Derek', lName: 'Banas'}; capitals = [{city: 'Montgomery', state: 'Alabama'}, {city: 'Juneau', state: 'Alaska'}, {city: 'Phoenix', state: 'Arizona'}]">
	<head>
		<title>AngularJS Tutorial</title>
	</head>
</html>

	<body>
		<div ng-controller="ctrl1">

			<span>Values:</span>
			<input type="text" ng-model="first" />
			<input type="text" ng-model="second" />

			<button ng-click="updateValue()">Sum</button>
			<br><br>

			{{calculation}}

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
